<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OCSFInal</display-name>
  <welcome-file-list>
    <welcome-file>LOGIN/LogInForm.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>signinpage</servlet-name>
    <servlet-class>MyPackage.SignInFormCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signinpage</servlet-name>
    <url-pattern>/OCS/SigninPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginpage</servlet-name>
    <servlet-class>MyPackage.LoinFormCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginpage</servlet-name>
    <url-pattern>/OCS/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>applayform</servlet-name>
    <servlet-class>MyPackage.ApplayFormCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applayform</servlet-name>
    <url-pattern>/OCS/applayform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>collegeform</servlet-name>
    <servlet-class>MyPackage.CollegeFormCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>collegeform</servlet-name>
    <url-pattern>/OCS/collegePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUserDetail</servlet-name>
    <servlet-class>MyPackage.CollegeSelectionProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserDetail</servlet-name>
    <url-pattern>/OCS/getUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TableCreationProcess</servlet-name>
    <servlet-class>MyPackage.TableCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableCreationProcess</servlet-name>
    <url-pattern>/OCS/Tablecreation</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AfterCollegeSelection</servlet-name>
    <servlet-class>MyPackage.AfterSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterCollegeSelection</servlet-name>
    <url-pattern>/OCS/decreaseCount</url-pattern>
  </servlet-mapping>
</web-app>
